<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Blog Post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Add a new post</h1>
    <h2>How was your day?</h2>
    <form class="post" action="{{ url_for('add_post') }}" method="POST">
        <label for="author">Post's Author:</label><br>
        <input type="text" id="author" value="Veronica" name="author"><br><br>

        <label for="title">Post's Title:</label><br>
        <input type="text" id="title" value="Testing" name="title"><br><br>

        <label for="content">Post's Content:</label><br>
        <textarea id="content" name="content">"I drank coffee after testing"</textarea><br>

        <input type="submit" value="Submit" class="button">
    </form>
</body>
</html>