<!DOCTYPE html>
<html>
<head>
    <title>New Post</title>
</head>
<body>
    <h1>Add a new post:</h1>
    <form method="POST">
        <label for="author">Post's Author:</label><br>
        <input type="text" id="author" name="author"><br><br>

        <label for="title">Post's Title:</label><br>
        <input type="text" id="title" name="title"><br><br>

        <label for="content">Post's Content:</label><br>
        <input type="text" id="content" name="content"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>